
.game-container {
    background: black;
    height: 80%;
    overflow-y: hidden;
}


.game-columns {
    height: 100%;
}

#game {
    position:relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#game canvas {
    display: block;
    margin:0 auto;

    /* VALIGN */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#game-log {
    margin: 5px 0;
}